.replace-2x {
	font-size: 1px;
}

@media all and (-webkit-min-device-pixel-ratio:2) {
	.list-heart{
		background-image:url(../images/list-heart@2x.png)!important;
		-webkit-background-size:16px 16px;
	}
	.list-cross{
		background-image:url(../images/list-cross@2x.png)!important;
		-webkit-background-size:16px 16px;
	}
	.list-arrow{
		background-image:url(../images/list-arrow@2x.png)!important;
		-webkit-background-size:16px 16px;
	}
/*	.content-toggle-deploy{
		background-image:url(../images/lists/list-plus@2x.png);
		-webkit-background-size:16px 16px;
		background-position:0 1px;
	}
	
	.content-toggle-deploy-active{
		background-image:url(../images/lists/list-cross@2x.png);
		background-position:0 1px;
		-webkit-background-size:16px 16px;
	}
	
	.comment-approve{
		background-image:url(../images/lists/list-tick@2x.png);
		background-position:0 1px;
		-webkit-background-size:16px 16px;
	}
	
	.comment-reject{
		background-image:url(../images/lists/list-cross@2x.png);
		background-position:0 1px;
		-webkit-background-size:16px 16px;
	}
	
	.comment-trash{
		background-image:url(../images/lists/list-trash@2x.png);
		background-position:0 2px;
		-webkit-background-size:16px 17px;
	}
	
	li.post-approve{
		background-image:url(../images/lists/list-tick@2x.png);
		-webkit-background-size:16px 16px;
	}
	
	li.post-expand{
		background-image:url(../images/lists/list-plus@2x.png);
		-webkit-background-size:16px 16px;	
	}
	
	li.post-edit{
		background-image:url(../images/lists/list-edit@2x.png);
		background-repeat:no-repeat;
		-webkit-background-size:16px 16px;
	}
	
	li.post-trash{
		background-image:url(../images/lists/list-trash@2x.png);
		background-position:0 2px;
		-webkit-background-size:16px 16px;
	}
	
	.itoggle{
		background-image:url(../images/ui/switch-off@2x.png);
		-webkit-background-size:61px 27px;
	}
	
	.itoggle-active{
		background-image:url(../images/ui/switch-on@2x.png);
		-webkit-background-size:61px 27px;
	}
	
	.checkbox{
		background-image:url(../images/ui/checkbox@2x.png);
		-webkit-background-size:16px 18px;
	}

	.selected-checkbox{
		background-image:url(../images/ui/checkbox-selected@2x.png);
		-webkit-background-size:16px 18px;
	}

	.checkbox2{
		background-image:url(../images/ui/checkbox2@2x.png);
		-webkit-background-size:16px 18px;
	}

	.selected-checkbox2{
		background-image:url(../images/ui/checkbox2-selected@2x.png);
		-webkit-background-size:16px 18px;
	}

	.radiobox{
		background-image:url(radio@2x.png);
		-webkit-background-size:16px 18px;
	}

	.selected-radiobox{
		background-image:url(radio-selected@2x.png);	
		-webkit-background-size:16px 18px;
	}
	
	.radiobox2{
		background-image:url(../images/ui/radio2@2x.png);
		-webkit-background-size:16px 18px;
	}

	.selected-radiobox2{
		background-image:url(../images/ui/radio2-selected@2x.png);	
		-webkit-background-size:16px 18px;
	}
	
	.nav-arrow{
		background-image:url(../images/ui/arrow-down@2x.png); 
		-webkit-background-size:10px 9px;
	}
	
	.change-arrow{
		background-image:url(../images/ui/arrow-up@2x.png);
		-webkit-background-size:10px 9px;
	}
	*/
	#username{
		background-image:url(../images/user@2x_index.png);
		-webkit-background-size:16px 15px;
	}
	
	#password{
		background-image:url(../images/password@2x.png);
		-webkit-background-size:16px 15px;
	}
	
	body{
		background-image:url(../images/bg@x2.png);
		-webkit-background-size:200px 200px;
	}

	.bdiv{
		background-image:url(../images/arrow-right@2x.png);
		-webkit-background-size:9px 10px;
	}
	
}
